<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SabumMapper">

	<resultMap id="SabumMap"
		type="study.spring.seoulspring.model.sabum">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="num" column="num" />
		<result property="link" column="link" />
		<result property="cardnews" column="cardnews" />
		
		
		<!-- cardnews -->
		<result property="cardno" column="cardno" />
		<result property="cardmonth" column="cardmonth" />
		<result property="monthlist" column="monthlist" />
		<result property="photo" column="photo" />
		
	</resultMap>




	
	<select id="selectSabum"
		parameterType="study.spring.seoulspring.model.sabum"
		resultMap="SabumMap">
		select * from sabum s, cardnews c where s.num = #{num} and c.cardmonth = #{num}
	</select>
	

</mapper>