@charset "UTF-8";

.snu_promise_box, .snu_detail_box {
	width: 90%;
	margin: auto;
	text-align: center;
	padding: 10px 0px;
}

.snu_main_promise h1, .snu_detail_view h1, .snu_card_news h2 {
	font-weight: bold;
	font-size: 25px;
	color: rgb(66, 57, 106);
}

.snu_promise_info {
	background-color: #626eb9;
	cursor: pointer;
}

/**/

/* code customized by Iatek LLC 2018 */
/* Sticky carousel-example-1 styles
-------------------------------------------------- */
@media ( min-width : 768px) and (max-width: 991px) {
	/* Show 4th slide on md if col-md-4*/
	#carousel-example-1 .carousel-inner .active.col-md-4.carousel-item+.carousel-item+.carousel-item+.carousel-item
		{
		position: absolute;
		top: 0;
		right: -33.3333%; /*change this with javascript in the future*/
		z-index: -1;
		display: block;
		visibility: visible;
	}
}

@media ( min-width : 576px) and (max-width: 768px) {
	/* Show 3rd slide on sm if col-sm-6*/
	#carousel-example-1 .carousel-inner .active.col-sm-6.carousel-item+.carousel-item+.carousel-item
		{
		position: absolute;
		top: 0;
		right: -50%; /*change this with javascript in the future*/
		z-index: -1;
		display: block;
		visibility: visible;
	}
}

@media ( min-width : 1px) {
	#carousel-example-1 .carousel-item {
		margin-right: 0;
	}
	/* show 2 items */
	#carousel-example-1 .carousel-inner .active+.carousel-item {
		display: block;
	}
	#carousel-example-1 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
		#carousel-example-1 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item
		{
		transition: none;
	}
	#carousel-example-1 .carousel-inner .carousel-item-next {
		position: relative;
		transform: translate3d(0, 0, 0);
	}
	/* left or forward direction */
	#carousel-example-1 .active.carousel-item-left+.carousel-item-next.carousel-item-left,
		#carousel-example-1 .carousel-item-next.carousel-item-left+.carousel-item,
		#carousel-example-1 .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item
		{
		position: relative;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	/* farthest right hidden item must be also positioned for animations */
	#carousel-example-1 .carousel-inner .carousel-item-prev.carousel-item-right
		{
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* right or prev direction */
	#carousel-example-1 .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
		#carousel-example-1 .carousel-item-prev.carousel-item-right+.carousel-item,
		#carousel-example-1 .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item
		{
		position: relative;
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
}
/* MD */
@media ( min-width : 768px) {
	/* show 3rd of 3 item slide */
	#carousel-example-1 .carousel-inner .active+.carousel-item+.carousel-item
		{
		display: block;
	}
	#carousel-example-1 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item
		{
		transition: none;
	}
	#carousel-example-1 .carousel-inner .carousel-item-next {
		position: relative;
		transform: translate3d(0, 0, 0);
	}
	/* left or forward direction */
	#carousel-example-1 .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item
		{
		position: relative;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	/* right or prev direction */
	#carousel-example-1 .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item
		{
		position: relative;
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
}
/* LG */
@media ( min-width : 991px) {
	/* show 4th item */
	#carousel-example-1 .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item
		{
		display: block;
	}
	#carousel-example-1 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item
		{
		transition: none;
	}
	/* Show 5th slide on lg if col-lg-3 */
	#carousel-example-1 .carousel-inner .active.col-lg-3.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item
		{
		position: absolute;
		top: 0;
		right: -25%; /*change this with javascript in the future*/
		z-index: -1;
		display: block;
		visibility: visible;
	}
	/* left or forward direction */
	#carousel-example-1 .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item
		{
		position: relative;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	/* right or prev direction //t - previous slide direction last item animation fix */
	#carousel-example-1 .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item
		{
		position: relative;
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
	.carousel-control-prev, .carousel-control-next {
		width: 0%;
	}
	.carousel-control-next {
		right: -30px;
	}
	.carousel-control-prev {
		left: -30px;
	}
}
/*캐러셀 안쪽*/
.snu_main_promise, .snu_detail_view {
	
}

.snu_promise_box, .snu_detail_box {
	width: 90%;
	margin: auto;
	text-align: center;
	padding: 10px 0px;
}

.snu_main_promise h1, .snu_detail_view h1 {
	font-weight: bold;
	font-size: 25px;
	color: #0F0F70;
}

.snu_promise_info {
	width: 85%;
	padding: 20% 0%;
	margin: auto;
	border-radius: 0.5em;
}

.snu_promise_text {
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.snu_promise_icon {
	color: white;
	font-size: 50px;
}

@media ( max-width :767px) {
	.snu_promise_text {
		font-size: 14px;
	}
	.snu_promise_icon {
		font-size: 35px;
	}
}