
.footer {
    display: flex;
    height: 100px;

    justify-content: space-between;
    align-items: center;
    width: 1190px;
    margin: auto;
}

.footer_logoright img {
    width: 54px;
    height: 54px;
}

.footer_logo {
    width: 33%;
}

.footer_text {
    width: 33%;
    text-align: center;
}

.footer_logoright {
    width: 33%;
    text-align: right;
}

.footer_logo>img {
    width: 100px;
    height: 100px;
}
.footer_box{
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    padding: 30px 0px;
}

