.hi_main {
  width: 100%;
}
.main_box{
	font-family: 'NanumGothic';
}

.snu_main_box{
  margin-bottom:50px;
  }
.hi_intro_title {
  width: 1190px;
  margin: auto;
  border-bottom: 2px solid rgb(32, 63, 204);
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
}
.hi_center {
  width: 1190px;
  margin: auto;
  display: flex;
  padding-top: 25px;
}
.hi_main_pt {
  width: 300px;
  height: 300px;
}

.hi_main_text {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 50px;
}
.hi_main_title {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
.hi_main_title i {
  font-size: 20px;
  margin-right: 10px;
}
.hi_main_body {
  font-size: 18px;
  line-height: 30px;
  height: 300px;
  overflow: hidden;
  
}
.hi_onclick {
  width: 1190px;
  margin: auto;
  text-align: center;
  margin: 50px 0 50px 0;
  font-size: x-large;
  font-weight: 900;
  background-color: #03185b;
  border-radius: 30px;
  padding: 20px 0;
  color: white;
}
.hi_in {
  color: white;
}
.hi_onclick > div :hover {
  color: rgb(84, 192, 51);
  transition: all 0.3s;
}
.hi_foot {
  width: 1190px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.hi_foot_box {
  width: 33%;
  text-align: center;
}
.hi_foot_box_top {
  padding: 0 1px 0 1px;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hi_foot_box_top > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .hi_intro_title {
    width: 100%;
    margin: auto;
    border-bottom: 2px solid rgb(32, 63, 204);
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
  }
  .hi_center {
    padding-top: 30px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .hi_main_pt {
    padding-left:10%;
  }

  .hi_main_text {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .hi_main_title {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 20px 0px;
  }
  .hi_main_body {
    font-size: 18px;
    line-height: 30px;
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }
  .hi_onclick {
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: x-large;
    font-weight: 900;
  }
  .hi_in {
    color: white;
  }
  .hi_onclick > div :hover {
    color: rgb(84, 192, 51);
    transition: all 0.3s;
  }
  .hi_foot {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .hi_foot_box {
    width: 100%;
    text-align: center;
    margin: 5px 0 5px 0;
  }
  .hi_foot_box_top {
    padding: 0 1px 0 1px;

    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .snu_mobile_main_box{
  margin-bottom:20px;
  }
  
}
