@media ( min-width : 900px) {
	.main_box {
		font-family: 'NanumGothic';
	}
	.notice {
		width: 1190px;
		margin: auto;
		margin-top: 100px;
	}
	.notice_body {
		padding: 10px 0;
	}
	.notice_body_text {
		padding: 5px 0;
	}
}

.second_box {
	width: 1190px;
	margin: auto;
}

.button {
	font-weight: 700;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.menus {
	width: 250px;
	height: 100px;
	border-radius: 5px;
	background-color: #0f0f70;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
}

.third_box {
	width: 1190px;
	margin: auto;
	display: flex;
}

.third_left {
	width: 40%;
	margin-right: 10px;
	background-color: #0f0f70;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 2px solid #0f0f70;
}

.third_left>img {
	background-color: #0f0f70;
	height: 100px;
	width: 100px;
	margin: 10px 0 10px 0;
}

.third_right {
	width: 60%;
}

.third_right_top {
	border-bottom: 2px solid #0f0f70;
}

.third_right_bot {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}

.main_festive_box {
	width: 300px;
	margin-top:30px;
}

.second_page {
	border: 2px solid #0f0f70;
	border-right: none;
	border-left: none;
	width: 100%;
	padding: 50px 0px;
}

/* ����� ���� ȫ��*/
.notice_header {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid rgb(45, 46, 145);
	font-weight: 900;
}

.notice_header_title, .notice_header_more {
	margin-bottom: 10px;
}

.notice_body_text {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.middle {
	padding: 0px 10px 0px 10px;
}

.pr {
	margin-top: 20px;
	font-weight: 900;
}

.pr_header {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid rgb(45, 46, 145);
}

.pr_body {
	display: FLEX;
	justify-content: space-evenly;
}

.pr_body_photo>img {
	width: 100%;
}

.pr_body_text {
	text-align: center;
}

.onclick_m_header {
	border-bottom: 3px solid rgb(45, 46, 145);
}

.onclick_m {
	margin-top: 25px;
	font-weight: 900;
}

.first_body, .second_body {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
	margin-bottom: 10px;
}

.first_body>div, .second_body>div {
	width: 47%;
	height: 75px;
	border-radius: 5px;
	background-color: rgb(45, 46, 145);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.card_news_header {
	border-bottom: 3px solid rgb(45, 46, 145);
}

.card_news_body>img {
	width: 100%;
}