a {
  text-decoration: none;
}
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.snu_mobile_box {
  width: 500px;
  margin: auto;
  background-color: white;
  position: relative;
}

@media (min-width: 900px) {
  .snu_mobile_box {
    display: none;
  }
}
:root{
  --main-color:#0f0f70;
}
@media (max-width: 900px) {
  .snu_mobile_box {
    width: 100%;
    position: relative;
  }
  .main_box {
    display: none;
  }
}
.snu_main_header {
  position: relative;
  margin-top: 5%;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 3px solid #0f0f70;
  padding-bottom: 10px;
}

.snu_mobile_main_box {
  padding: 0px 30px;
  min-height: 500px;
}

@media (max-width: 420px) {
  .snu_mobile_main_box {
    padding: 0px 10px;
  }
  .snu_main_header {
    font-size: 20px;
  }
}
.snu_main_box {
  width: 1190px;
  margin: auto;
  min-height: 750px;
}

.snu_main_header img {
  width: 90px;
  position: absolute;
  top: -50px;
  right: 2px;
  width: 85px;
}
.header_left_m_box_inner a, .header_left_box_inner a{
	color:white;
}
